<AuthorizeView>
    <Authorized>
        <MudLink Href="profile">Hello, @context.User.Identity?.Name</MudLink>

        <form action="Account/Logout" method="post">
            <AntiforgeryToken/>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text">Logout</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudLink Href="Account/login?redirectUri=/"></MudLink>
    </NotAuthorized>
</AuthorizeView>