<AuthorizeView>
    <Authorized>
        <MudLink data-testid="profile" Href="profile">Hello, @context.User.Identity?.Name</MudLink>

        <form action="Account/Logout" method="post">
            <AntiforgeryToken/>
            <MudButton data-testid="logout" ButtonType="ButtonType.Submit" Variant="Variant.Text">Logout</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudLink data-testid="login" Href="Account/login?redirectUri=/">Login</MudLink>
    </NotAuthorized>
</AuthorizeView>